.lightMode {
  background: #fff8f6;
}
.nightMode {
  background: #000;
  color: #fff;
}
.nightMode .whydigidish h2 {
  color: #fff;
}
.container {
  width: auto;
  height: 499px;
  margin: 0 auto;
}
.line {
  width: 139px;
  height: 0px;
  border: 2px solid #e6673c;
  margin: 0 auto;
}
/* .bird {
  position: relative;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 40px;
  margin: 0 auto;
}
.img1 {
  width: 60%;
  height: 240px;
  left: -100px;
  top: 0px;
  position: absolute;
  filter: invert(42%) brightness(200%);
}
.img2 {
  width: 18%;
  height: 240px;
  right: 40%;
  top: 2px;
  position: absolute;
  filter: invert(42%) brightness(200%);
}
.img3 {
  width: 60%;
  height: 240px;
  right: -130px;
  top: 0px;
  position: absolute;
  filter: invert(42%) brightness(200%);
} */

.whydigidish {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.whydigidish h2 {
  font-family: MAINLUX;
  font-size: 40px;
  font-weight: 300;
  line-height: 68.8px;
  letter-spacing: 0.01em;
  color: #181817;
}
.wraps {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nightMode .wrap {
  background: #000;
  border: 1px solid #dddddd3a;
}
.wrap {
  width: 281px;
  height: 240px;
  margin: 0 auto;
  padding: 17px 30px;
  border-radius: 20px;
  background: #fafafa;
  border: 1px solid #dddddd;
}
.wrapimg img {
  width: 88px;
  height: 88px;
}
@media (max-width: 1145px) {
  .container {
    height: 1150px;
  }
  .line {
    width: 80px;
  }
  .whydigidish h2 {
    font-size: 25px;
  }
  .wraps {
    height: 240px;
    display: block;
  }
  .wrap {
    width: 80%;
    height: fit-content;
    margin-bottom: 20px;
  }
  /* .img1 {
    left: -110px;
  }
  .img2 {
    right: 42%;
  }
  .img3 {
    right: -100px;
  } */
}
@media (max-width: 495px) {
  .whydigidish h2 {
    font-size: 20px;
  }
  .line {
    width: 60px;
  }
}
